{% include 'navbar.html' %}
{% include 'sidebar.html' %}}

{% block content %}
  <div class="container mt-4">
    <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
      {{ form.hidden_tag() }}

      {% for field in form %}
        <div class="mb-3">
          <label for="{{ field.id }}" class="form-label">{{ field.label.text }}</label>
          {% if 'image' not in field.name %}
            {% if field.name == 'category_id' %}
              <select class="form-select custom-select" required="required" name="{{ field.name }}" id="{{ field.id }}">
                <option value="" disabled selected>Select a category</option>
                {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
              </select>
            {% else %}
              {{ field(class="form-control", placeholder=field.label.text, required="required", id="{{ field.id }}") }}
            {% endif %}
            <div class="invalid-feedback">
              {% if field.errors %}
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              {% else %}
                Please enter {{ field.label.text.lower() }}.
              {% endif %}
            </div>
          {% else %}
            <input type="file" class="form-control" id="{{ field.id }}" name="{{ field.name }}" accept="image/*" required>
            <div class="invalid-feedback">
              Please choose {{ field.label.text.lower() }}.
            </div>
          {% endif %}
        </div>
      {% endfor %}

      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}
